.wrapper {
	padding: 1rem 0;

	@media (min-width: 768px) {
		padding: 2rem;
	}

	justify-content: center;
	display: flex;
	.main {
		min-height: 50vh;
		padding: 1rem;
		width: 768px;
		max-width: 100%;
		border-top: 1px solid var(--reset-css-background-tertiary);
		border-bottom: 1px solid var(--reset-css-background-tertiary);
		background-color: var(--reset-css-background-primary);

		@media (min-width: 768px) {
			border: 1px solid var(--reset-css-background-tertiary);
			border-radius: 1rem;
		}
	}
}

@media (min-height: 20rem) {
}
