.main {
	background-color: var(--standard-ui-background-secondary);
	border: var(--standard-ui-border-primary);
	border-radius: var(--standard-ui-space);

	&.with_padding {
		padding: var(--standard-ui-space);
	}
}
