.main {
	min-height: 100dvh;

	display: flex;
	flex-direction: column;

	.header {
		border-bottom: 1px solid var(--reset-css-background-tertiary);
		background-color: var(--reset-css-background-secondary);
	}

	.body {
		flex-grow: 1;
		background-color: var(--reset-css-background-secondary);
		@media (min-width: 768px) {
			overflow-y: auto;
		}
	}

	.footer {
		background-color: var(--reset-css-background-secondary);

		border-top: 1px solid var(--reset-css-background-tertiary);
	}
}
