figure {
	overflow-x: auto;
}

img {
	display: inline-block;
	max-height: 75vh;
	max-width: 100%;
	vertical-align: middle;
	border-radius: var(--standard-ui-space-half);
}

ul,
ol {
	padding-left: 1rem;
}

ul li {
	list-style: square;
}

blockquote {
	border-left: var(--standard-ui-border-wide);
	padding: 1rem;
	footer {
		margin-top: 1rem;
		cite {
			opacity: 0.75;
		}
	}
}

table {
	background: var(--standard-ui-background-secondary);

	th,
	td {
		border-bottom: var(--standard-ui-border-primary);
		padding: 0.5rem;
	}

	thead th {
		border-bottom: var(--standard-ui-border-wide);
	}

	min-width: 100%;
	border-collapse: collapse;
	text-align: left;

	tbody {
		tr:nth-child(2n-1) {
			background: var(--standard-ui-background-tertiary);
		}
	}
}

ins {
	color: var(--standard-ui-success-background);
}

del {
	color: var(--standard-ui-danger-background);
}

mark {
	color: var(--standard-ui-warning-text);
	background: var(--standard-ui-warning-background);
	border-radius: 0.25rem;
	padding: 0.25rem;
}

kbd {
	border-radius: 0.25rem;
	padding: 0.25rem;
	font-family: monospace;
	font-weight: bold;
	background: var(--standard-ui-foreground-primary);
	color: var(--standard-ui-background-primary);
}

progress {
	width: 100%;
}

details {
	background: var(--standard-ui-background-primary);
	padding: var(--standard-ui-space);
	border: var(--standard-ui-border-primary);
	border-radius: var(--standard-ui-space-half);

	&[open] > summary {
		border-bottom: var(--standard-ui-border-primary);
		padding-bottom: var(--standard-ui-space);
		margin-bottom: var(--standard-ui-space);
	}

	summary {
		user-select: none;
		cursor: pointer;
	}
}
