@import './variables.scss';
@import './reset.scss';
@import './form.scss';
@import './article.scss';

form,
article,
section,
main {
	display: flex;
	gap: var(--standard-ui-space);
	flex-direction: column;
}
