:root {
	--standard-ui-space: 1rem;
	--standard-ui-font-family-title: sans-serif;
	--standard-ui-font-family-body: sans-serif;
	--standard-ui-font-size: 12pt;

	--standard-ui-background-primary: #1c1c1d;
	--standard-ui-background-secondary: #222525;
	--standard-ui-background-tertiary: #2a2c2e;

	--standard-ui-foreground-primary: #c9cdce;
	--standard-ui-foreground-secondary: #7a8186;
	--standard-ui-foreground-tertiary: #3d4040;

	--standard-ui-accent-background: #019cfd;
	--standard-ui-accent-background-hover: #019cfd;
	--standard-ui-accent-text: black;
	--standard-ui-accent-text-hover: black;

	--standard-ui-danger-background: #fe5f57;
	--standard-ui-danger-background-hover: #fe5f57;
	--standard-ui-danger-text: black;
	--standard-ui-danger-text-hover: black;

	--standard-ui-warning-background: #febb2e;
	--standard-ui-warning-background-hover: #febb2e;
	--standard-ui-warning-text: black;
	--standard-ui-warning-text-hover: black;

	--standard-ui-success-background: #26c940;
	--standard-ui-success-background-hover: #26c940;
	--standard-ui-success-text: black;
	--standard-ui-success-text-hover: black;

	// --standard-ui-link-text: #019cfd;
	--standard-ui-link-text: var(--standard-ui-accent-background);
}

@media (prefers-color-scheme: light) {
	:root {
		--standard-ui-background-primary: #f8f8f8;
		--standard-ui-background-secondary: white;
		--standard-ui-background-tertiary: #fdfdfd;

		--standard-ui-foreground-primary: #3b3b3b;
		--standard-ui-foreground-secondary: black;
		--standard-ui-foreground-tertiary: #e5e5e5;

		--standard-ui-accent-background: #166efa;
		--standard-ui-accent-background-hover: #166efa;
		--standard-ui-accent-text: white;
		--standard-ui-accent-text-hover: white;
	}
}
