.main {
	display: flex;
	align-items: stretch;
	gap: var(--standard-ui-space);
	a {
		display: flex;
		align-items: center;
		padding: 0 var(--standard-ui-space);
		gap: var(--standard-ui-space-half);
		vertical-align: middle;
	}
}
