.main {
	display: flex;
	align-items: stretch;
	gap: var(--reset-css-space);
	a {
		display: flex;
		align-items: center;
		padding: 0 var(--reset-css-space);
		gap: var(--reset-css-space-half);
		vertical-align: middle;
	}
}
