.page {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	min-height: 100dvh;
	flex-direction: column;

	.pageHeader {
		user-select: none;
		background-color: var(--reset-css-background-secondary);
		border-bottom: var(--reset-css-border-primary);
		padding: var(--reset-css-space);
		display: flex;
		flex-flow: column;
		align-items: center;

		@media (min-width: 512px) {
			& {
				align-items: left;
				flex-flow: row;
			}
		}
		gap: var(--reset-css-space);

		.pageHeaderBrand {
			flex-shrink: 0;
		}

		.pageHeaderMenu {
			display: flex;
			align-items: stretch;
			flex-grow: 1;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;

			@media (min-width: 512px) {
				& {
					justify-content: flex-end;
				}
			}

			a {
				padding: 0 var(--reset-css-space);
				display: flex;
				align-items: center;
				gap: var(--reset-css-space-half);
			}
		}
	}

	.pageBody {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: var(--reset-css-space-double);

		.pageBodyContent {
			min-height: 16rem;
			padding: var(--reset-css-space);
			flex-basis: 768px;
			border-radius: var(--reset-css-space);
			background-color: var(--reset-css-background-secondary);
			border: var(--reset-css-border-primary);
		}
	}

	.pageFooter {
		user-select: none;
		text-align: center;
		background-color: var(--reset-css-background-secondary);
		border-top: var(--reset-css-border-primary);
		padding: var(--reset-css-space);

		.pageFooterMenu {
			display: flex;
			justify-content: center;
			padding: var(--reset-css-space);
			align-items: stretch;
			flex-grow: 1;

			a {
				padding: 0 var(--reset-css-space);
				display: flex;
				align-items: center;
				gap: var(--reset-css-space-half);
			}
		}

		footer {
			opacity: 0.75;
			font-size: 0.75rem;
		}
	}
}
