.main {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: 768px) {
			justify-content: flex-end;
		}
	}

	.brand {
		flex-shrink: 0;
	}

	.menuEntry,
	.brand {
		padding: 0.5rem 1rem;
		min-width: 3rem;
		text-align: center;
		white-space: nowrap;
		@media (any-hover: hover) {
			opacity: 0.85;
		}

		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
}
