@use '@aaronellington/reset-css/src/mixins/button';

.default {
	@include button.default;
}

.accent {
	@include button.accent;
}

.success {
	@include button.success;
}

.warning {
	@include button.warning;
}

.danger {
	@include button.danger;
}

.sizeSmall {
	font-size: 0.75rem;
	border-radius: 1em;
	padding: 0.5em 1em;
}

.sizeNormal {
	font-size: 1rem;
	border-radius: 1em;
	padding: 0.5em 1em;
}

.sizeLarge {
	font-size: 1.25rem;
	border-radius: 1em;
	padding: 0.5em 1em;
}
