.main {
	background-color: var(--reset-css-background-secondary);
	border: var(--reset-css-border-primary);
	border-radius: var(--reset-css-space);

	&.with_padding {
		padding: var(--reset-css-space);
	}
}
